@tailwind base;
@tailwind components;
@tailwind utilities;

.max-h-500{
    max-height: 500px;
}
.max-h-600{
    max-height: 600px;
}
.max-h-300{
    max-height: 300px;
}
.h-600{
    height: 600px;
}
@media screen and (max-width: 640px) { 
    .h-homeslide{
        height: 300px;
    }
    .h-productslide{
        height: 374px;
    }
    .h-auth{
        width: 100%;
    }
}
@media screen and (min-width: 640px){
    .h-homeslide{
        height: 646px;
    }
    .h-productslide{
        height: 600px;
    }
    .h-auth{
        width: 500px;
    }    
}